{
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ],
    "@emotion/babel-preset-css-prop",
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["babel-plugin-ramda", { "useES": true }],
    "@babel/plugin-proposal-optional-chaining"
  ]
}