{
  "extends": "@chipp972/eslint-config",
  "globals": {
    "process": true
  },
  "rules": {
    "unicorn/filename-case": "off",
    "indent": "off",
    "no-unused-expressions": "off",
    "no-magic-numbers": "off",
    "space-before-function-paren": ["error", {
        "anonymous": "always",
        "named": "always",
        "asyncArrow": "always"
    }]
  },
  "overrides": [
    {
      "files": [
        "src/cms/**/*.js",
        "functions/**/*.ts"
      ],
      "rules": {
        "camelcase": "off",
        "@typescript-eslint/camelcase": "off"
      }
    }
  ]
}