{
  "extends": "@chipp972/eslint-config",
  "globals": {
    "process": true
  },
  "rules": {
    "unicorn/filename-case": "off",
    "space-before-function-paren": ["error", "never"],
    "indent": "off"
  }
}