@import '../typography'
@import '../variables'

@mixin big-cta($color: $gray500, $hover-color: $gray50, $hover-bg: $black)
    @include all-caps-cta
    border: 2px solid $crimson200
    border-radius: .25rem;
    text-align: center
    text-decoration: none
    font-weight: 400
    padding: 20px 30px
    color: $color
    width: 80%
    transition: background-color 0.3s ease, color 0.3s ease

    &:hover
        background-color: $crimson200
        color: $hover-color

    +tablet
        width: auto

.big-cta-container
    .big-cta
        @include big-cta($color: $crimson200, $hover-color: $gray50)