@import '../typography'
@import '../variables'

@mixin big-cta($border-color: $gray500, $color: $gray500, $hover-color: $gray50, $hover-bg: $black)
    @include all-caps-cta
    text-align: center
    text-decoration: none
    font-weight: 800
    padding: 20px 30px
    border-radius: .25rem;
    border: 6px solid $border-color
    color: $color
    width: 80%
    transition: background-color 0.3s ease, color 0.3s ease

    &:hover
        background-color: $hover-bg
        color: $hover-color

    +tablet
        width: auto

.big-cta
    @include big-cta