$noto-sans: 'Noto Sans JP', sans-serif
$noto-serif: 'Noto Serif JP', serif

$black: #121212

$gray500: #c0c0c0c0;
$gray50: #F7F7F7

$crimson200: #CC8080

$mobile-xs-text: 12px
$mobile-s-text: 16px

$desktop-s-text: 18px

$desktop-headline-font-size: 48px
$desktop-headline-font-weight: 800
$desktop-headline-line-height: 177.5%
$desktop-headline-letter-spacing: 1px