$noto-sans: 'Noto Sans JP', sans-serif
$noto-serif: 'Noto Serif JP', serif

$white: #ffffff;
$black: #121212

$black-01dp: mix($white, $black, 5%);
$black-02dp: mix($white, $black, 7%);
$black-03dp: mix($white, $black, 8%);
$black-04dp: mix($white, $black, 9%);
$black-06dp: mix($white, $black, 11%);
$black-08dp: mix($white, $black, 12%);
$black-12dp: mix($white, $black, 14%);
$black-16dp: mix($white, $black, 15%);
$black-24dp: mix($white, $black, 16%);

$gray500: #c0c0c0c0;
$gray50: #F7F7F7

$crimson200: #CC8080

$mobile-xs-text: 12px
$mobile-s-text: 16px
$mobile-m-text: 18px
$mobile-l-text: 20px

$desktop-xs-text: 14px
$desktop-s-text: 18px
$desktop-m-text: 20px
$desktop-l-text: 24px

$desktop-headline-font-size: 48px
$desktop-headline-font-weight: 800
$desktop-headline-line-height: 177.5%
$desktop-headline-letter-spacing: 1px

$primary: $crimson200