@import "../../variables.sass"

@keyframes slide-left
  0%
    opacity: 0
    transform: translateX(20px)
    
  100%
    opacity: 1
    transform: translateX(0)

.navbar-item
  text-transform: uppercase
  font-size: $desktop-xs-text
  letter-spacing: $desktop-headline-letter-spacing
  line-height: $desktop-headline-line-height
  padding: 1.2rem

+desktop
  .navbar-item.is-active
    &:hover,
    &:focus
      background-color: #525252

.navbar
  border-bottom: 1px solid $gray500
  box-shadow: 0 4px 4px $black
  position: fixed
  left: 0
  right: 0
  top: 0

.navbar-menu
  animation: slide-left 0.3s ease
  +desktop
    animation: none
