@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,400,500,900|Cinzel:900&display=swap")
@import "~bulma/sass/utilities/_all"

$gray50: #f7f7f7
$crimson200: #cc8080
$primary: $crimson200
$black-04dp: mix($white, $black, 9%);
$navbar-height-mobile: 6.4rem

// Navbar
$navbar-height: $navbar-height-mobile

$navbar-background-color: $black-04dp
$navbar-burger-color: $gray50

$navbar-item-color: #B9B9B9

$navbar-item-hover-color: $primary
$navbar-item-hover-background-color: transparent

$navbar-item-active-color: $gray50
$navbar-item-active-background-color: #525252

$navbar-dropdown-arrow: #B9B9B9

@import "~bulma"

html
    font-size: 62.5%;

+desktop
  .navbar-item.is-active
    &:hover,
    &:focus
      background-color: #525252
