@import './variables.sass'

@mixin section-title
  font-size: 38px
  font-weight: 100
  line-height: 1.05
  letter-spacing: 2px
  color: $white
  text-transform: uppercase

  +tablet
    font-size: 44px

.section-title
  @include section-title
  
@mixin all-caps-cta
  font-size: 24px
  font-weight: 400
  line-height: 1.5
  letter-spacing: 2px
  color: $gray50
  text-transform: uppercase

  +tablet
    font-size: 28px
